@use "../abstract/variables";
/* This file contains styles for the card pattern elements. (texture) */
.pattern-line {
  stroke: variables.$card-pattern;
  stroke-width: 2;
}

.card-pattern {
  fill-opacity: 1;
}
  