header {
  text-align: center;
  padding-bottom: $spacing-l;
  border-bottom: 1px solid #d0d0d0;

  h1 a {
    text-decoration: none;
    font-size: 3rem;
    color: $color-text;
    font-family: $font-heading;
  }
}
