body {
  font-family: $font-body;
  color: $color-text;
  background-color: #fff;
}

body > div {
  max-width: $layout-max-width;
  margin: 0 auto;
  padding: $spacing-m;
}

figure img {
  width: 100%;
  max-width: 250px;
}
