@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

$base-border-color: #ddd;
$color-text: #333;
$color-text-light: #666;
$color-accent: #DEB887;
$color-accent-hover: #00ddff;
$color-heading: #999;

$font-body: Arial, Helvetica, sans-serif;
$font-heading: 'Lora', serif;

$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;

$layout-max-width: 600px;
